@charset "UTF-8";
/* summer fest (@scheme color) */

/* GENERAL */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #FBF5DF;
	text-align: center;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 16px;
	color: black;
}


/* HEADER */
h1 {
	margin: 0;
	padding: 2vh 0;
}

header {
	background-color: #FDD937;
}



/* MAIN */
input {
	display: block;
	margin: 0 auto 2vh;
}

main {
	padding-top: 10vh;
}

.input-field {
	border: 0;
	border-bottom: 1px #F57653 solid;
	background-color: transparent;
	text-align: center;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 1em;
	color: black;
}

.input-field::placeholder {
	opacity: 0.5;
	text-align: center;
	color: black;
}

#form-submit {
	border: 2px #F57653 solid;
	border-radius: 5px;
	padding: 1.5vh 4vw;
	background-color: royalblue;
	font-size: 1em;
	color: white;
}

#form-submit:active {
	border-color: #FDD937;
	background-color: indianred;
}



/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	padding: 2vh 0;
	background-color: #BBCD49;
	font-size: 1.25em;
}

.more-link {
	color: black;
}

.more-link:active {
	color: orange !important;
}

.more-link:hover {
	color: violet;
}

#copyright {
	display: block;
}

#more {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	padding: 1vh 0 0;
}